In [1]:
import numpy as np 
import pandas as pd 
import sklearn as skl
import matplotlib.pyplot as plt 
import seaborn as sbn
import openpyxl as opxl

In [2]:
dataset=pd.read_excel("Online Retail.xlsx")

In [3]:
dataset.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [9]:
# import xml.etree.ElementTree as ET
# import pandas as pd

# # Load XML File
# xml_file = "Online Retail.xlsx"

# # Parse XML
# tree = ET.parse(xml_file)
# root = tree.getroot()

# # Define a function to extract data
# def parse_xml_to_list(root):
#     data = []
#     for child in root:
#         record = {sub.tag: sub.text for sub in child}
#         data.append(record)
#     return data

# # Convert XML to List of Dictionaries
# data = parse_xml_to_list(root)

# # Convert List to DataFrame
# df = pd.DataFrame(data)

# # Save to CSV
# csv_file = "output_file.csv"
# df.to_csv(csv_file, index=False)

# print(f"CSV file saved as {csv_file}")

In [11]:
df=pd.read_csv("Online Retail.csv")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [14]:
df.drop(['InvoiceDate'],axis=True,inplace=True)

In [15]:
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France

In [17]:
df['StockCode'].unique()

array(['85123A', '71053', '84406B', ..., '90214U', '47591b', '23843'],
      dtype=object)

In [18]:
dt = {'85123A':85123, '71053':71053, '84406B':84406,  '90214U':90214, '47591b':47591, '23843':23843}

In [22]:
df['StockCode']=df['StockCode'].map(dt)

In [24]:
df['StockCode'].dtype

dtype('float64')

In [25]:
df['InvoiceNo'].unique()

array(['536365', '536366', '536367', ..., '581585', '581586', '581587'],
      dtype=object)

In [26]:
dt={'536365':536365, '536366':536366, '536367':536367,  '581585':581585, '581586':581586, '581587':58158}

In [27]:
df['InvoiceNo']=df['InvoiceNo'].map(dt)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    61 non-null      float64
 1   StockCode    2968 non-null    float64
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   UnitPrice    541909 non-null  float64
 5   CustomerID   406829 non-null  float64
 6   Country      541909 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 28.9+ MB

In [29]:
df['Description'].unique()

array(['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER', ..., 'lost',
       'CREAM HANGING HEART T-LIGHT HOLDER',
       'PAPER CRAFT , LITTLE BIRDIE'], dtype=object)

In [30]:
dt={'WHITE HANGING HEART T-LIGHT HOLDER':0, 'WHITE METAL LANTERN':1,
       'CREAM CUPID HEARTS COAT HANGER':2,  'lost':3,
       'CREAM HANGING HEART T-LIGHT HOLDER':4,
       'PAPER CRAFT , LITTLE BIRDIE':5}

In [31]:
df['Description']=df['Description'].map(dt)

In [32]:
df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [33]:
dt = {'United Kingdom':0, 'France':1, 'Australia':2, 'Netherlands':3, 'Germany':4,
       'Norway':5, 'EIRE':6, 'Switzerland':7, 'Spain':8, 'Poland':9, 'Portugal':10,
       'Italy':11, 'Belgium':12, 'Lithuania':13, 'Japan':14, 'Iceland':15,
       'Channel Islands':16, 'Denmark':17, 'Cyprus':18, 'Sweden':19, 'Austria':20,
       'Israel':21, 'Finland':22, 'Bahrain':23, 'Greece':24, 'Hong Kong':25, 'Singapore':26,
       'Lebanon':27, 'United Arab Emirates':28, 'Saudi Arabia':29,
       'Czech Republic':30, 'Canada':31, 'Unspecified':32, 'Brazil':33, 'USA':34,
       'European Community':35, 'Malta':36, 'RSA':37}

In [34]:
df['Country']=df['Country'].map(dt)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    61 non-null      float64
 1   StockCode    2968 non-null    float64
 2   Description  3002 non-null    float64
 3   Quantity     541909 non-null  int64
 4   UnitPrice    541909 non-null  float64
 5   CustomerID   406829 non-null  float64
 6   Country      541909 non-null  int64
dtypes: float64(5), int64(2)
memory usage: 28.9 MB

In [40]:
df.dropna(inplace= True)

In [41]:
df.duplicated().sum()

0

In [42]:
from sklearn.cluster import DBSCAN

In [43]:
dbscan = DBSCAN(eps=0.2, min_samples=5)  # Set epsilon and minimum points
labels = dbscan.fit_predict(df)

In [47]:
labels

array([-1, -1, -1], dtype=int64)